/* CSS BASIC RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* DEFINE VARIABLES */
:root {
  /* PRIMARY TEXT*/
  --color-primary-very-dark-desat-blue: hsl(238, 29%, 16%);
  --color-primary-soft-red: hsl(14, 88%, 65%);

  /* BACKGROUND GRADIENT */
  --color-bg-grad-soft-violet: hsl(273, 75%, 66%);
  --color-bg-grad-soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL TEXT*/
  --color-neutral-very-dark-gray-blue: hsl(237, 12%, 33%);
  --color-neutral-dark-gray-blue: hsl(240, 6%, 50%);

  /* DIVIDERS */
  --color-div-light-gray-blue: hsl(240, 5%, 91%);

  /* TYPOGRAPHY */
  --font-size-base: 12px;
  --font-weight-400: 400;
  --font-weight-500: 500;
}

body {
  font-size: var(--font-size-base);
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(
    180deg,
    var(--color-bg-grad-soft-violet) 0%,
    var(--color-bg-grad-soft-blue) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  width: 85vw;
  height: 68vh;
  border-radius: 25px;
  position: relative;
  margin-top: 50px;
  box-shadow: 0px 15px 41px 7px rgba(0, 0, 0, 0.25);
}

.main__container {
  display: flex;
  justify-content: center;
}

.box_image__desktop {
  display: none;
}

.image_mobile__container {
  position: absolute;
  top: 0;
}

.image_desktop__container {
  display: none;
}

.woman_image__mobile {
  position: absolute;
  top: -100%;
}

.faq__container {
  margin: 10.5em 0;
  width: 100%;
  padding: 0 2em;
  color: var(--color-primary-very-dark-desat-blue);
  font-size: 0.8rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.4em;
  font-size: 2rem;
  font-weight: 800;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

summary:hover {
  color: var(--color-primary-soft-red);
}

summary::marker {
  content: "";
}

summary:active {
  transform: rotate(180);
}

details[open] > summary {
  font-weight: 700;
}

img {
  transition: 0.2s all ease-in-out;
}

details[open] > summary img {
  transform: rotate(180deg);
}

details {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--color-div-light-gray-blue);
}

p {
  padding-top: 1em;
  font-size: 0.75rem;
  color: var(--color-neutral-dark-gray-blue);
}

/* DESKTOP LARGE SCREENS */
@media only screen and (min-width: 1440px) {
  main {
    max-width: 915px;
    height: 510px;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_image__desktop {
    display: block;
    position: absolute;
    left: 14%;
    top: 43.8%;
    z-index: 5;
  }

  .main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .image_mobile__container {
    display: none;
  }

  .image_desktop__container {
    display: block;
    position: relative;
    width: 100%;
  }

  .woman_image__desktop {
    position: relative;
    left: -16%;
    width: 450px;
  }

  .pattern_image__desktop {
    position: absolute;
    left: -65%;
    top: -50%;
    width: 150%;
  }

  .faq__container {
    width: 100%;
    height: 510px;
    padding: 6em 0;
  }

  h1 {
    text-align: left;
  }

  summary {
    width: 350px;
  }

  details {
    padding: 1.5em 0;
    width: 350px;
    border-bottom: 1px solid var(--color-div-light-gray-blue);
  }

  p {
    width: 350px;
  }
}
